*{
  margin: 0;
  padding: 0;
}

body {
  font-family: "Segoe UI", sans-serif;
  margin: 0;
  background: #f5f5f5;
}

.container {
  max-width: 700px;
  margin: auto;
  padding: 20px;
}

.task-form, .filters {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
}

.task-list {
  list-style: none;
  padding: 0;
}

.task-list li {
  background: white;
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 6px;
}

button {
  margin-right: 8px;
}
.error {
  color: red;
}
